@page "/AddEmployee"
@using BlazorCRUD.Data
@inject IEmployeeService employeeService
@inject NavigationManager navigationManager

<h2>Add Employee</h2>
<hr/>

<form>

</form>

@code {
    EmployeeInfo employee = new EmployeeInfo();

    protected void 
}
